.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 16px;
  border-radius: 9999px;
  border: none;

  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &--filled {
    color: #fff;
    background-color: #45b017;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:hover {
      color: #45b017;
      background-color: #fff;
    }

    & svg path {
      fill: currentColor;
    }
  }

  &--outlined {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;

    &:hover {
      color: #45b017;
      border-color: #45b017;
    }

    & svg path {
      fill: currentColor;
    }
  }

  &--square {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
