.paint-page {
  display: flex;
  background-color: whitesmoke;
  min-height: 100vh;
  position: relative;

  &__toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;

    position: relative;
    z-index: 5;

    background-color: #fdfdfd;
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.1);

    &-top-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      border-radius: unset;

      &--outlined {
        border: none;
        border-bottom: transparent 2px solid;
        border-left: transparent 2px solid;
      }

      &.current-tool {
        color: #45b017;
      }
    }

    &-main,
    &-shapes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
  }
}

.drawing-form {
  display: flex;
  flex-direction: column;

  &__canvas {
    margin-bottom: 15px;
    border: #cccccc 2px solid;
    background-color: #fdfdfd;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  }

  &__input {
    width: 100%;
    padding: 10px;

    margin-bottom: 6px;
    border: none;
    border-radius: 15px;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  }

  .title-error {
    padding-left: 10px;
    color: red;
    font-size: 0.75rem;
   }
}

.menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 58px;
  z-index: 4;

  width: 320px;
  height: 100vh;

  background-color: #fdfdfd;

  box-shadow: 8px 0 8px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s;

  transform: translateX(-100%);

  &__heading-block {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 4px;
    border-bottom: #45b017 2px solid;
  }

  &__content {
    padding: 20px;
  }

  &__exit-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &--opened {
    transform: translateX(0);
  }
}

.shape {
  border: none;
  background-color: transparent;
  cursor: pointer;

  & svg {
    width: 15px;
    height: 15px;
  }
}

.shapes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.brush-size-range {
  top: calc(50% - 85px);
  right: 20px;
}

input[type="color"] {
  background-color: transparent;
  border: none;
}
