.home-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  &__content {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    overflow: hidden;

    &-main {
      width: 70%;
      padding: 7px;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 7px;

      border: #cccccc 2px solid;
      border-radius: 10px;

      background-color: #fdfdfd;
      overflow-y: scroll;

      &__image {
        width: calc((100% - 14px) / 3);
        object-fit: cover;

        border: #cccccc 2px solid;
        border-radius: 10px;

        cursor: pointer;
      }
    }
  }
}
